body
{
	background: #cccccc;
}
.container{
	text-align:center;
}

.player_one{
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	width:100%
}
.player_one a {
  text-decoration: none; /* Fix for underline issue */
}

.player_one ul
{
	list-style-type: none;
	padding: 0;
}
.player_two {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
	width:400px;
}
.player_two audio
{
	width: 350px;
	pading:10px;
}



