
body
{
	background: #cccccc;
}
.container{
	text-align:center;
}

.player_one{
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	width:100%
}

.player_one ul
{
	list-style-type: none;
	padding: 0;
}
h2{
	text-align:center
	padding:10px;
}
.player_two {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  margin: 10px;
	width:400px;
}



